* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  /* margin: 0 20px; */
}

/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25%;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.line {
  border: 1px solid black;
  margin: 20px;
  width: 700px;
}
.http {
  color: red;
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: var(--gray);
  border: none;
  border-radius: 8px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  resize: none;
}

.output-box {
  background-color: lightgray;
  background-color: var(--gray);
  border-radius: 8px;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.1);
}
*::-webkit-scrollbar{
  width: 2px;
  height: 4px;
}